In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import warnings
import os

In [14]:
os.getcwd()

'C:\\Users\\aysep\\Desktop'

In [19]:
covid = pd.read_csv("Cancer.csv")
covid.head(5)

,Unnamed: 0,Date,Study,Study Link,Journal,Severe,Severe lower bound,Severe upper bound,Severe p-value,Severe Significant,...,Fatality Significant,Fatality Adjusted,Fatality Calculated,Multivariate adjustment,Study Type,Sample Size,Study Population,Added on,Critical only,Discharged vs. death?
0,0,2020-06-01,COVID-19 with Different Severities: A Multicen...,https://www.ncbi.nlm.nih.gov/pubmed/32275452/,Am J Respir Crit Care Med,OR 6.25,1.96,19.98,0,Significant,...,NaN,NaN,NaN,NaN,Retrospective observational study,476,"Jinyintan Hospital in Wuhan, Shanghai Public H...",NaN,Y,N
1,1,2020-06-01,Characteristics and Outcomes of COVID-19 Patie...,http://medrxiv.org/cgi/content/short/2020.05.2...,MedRxiv,NaN,NaN,NaN,NaN,NaN,...,Not Significant,Not Adjusted,Calculated,NaN,Retrospective observational study,13442,New York City Health and Hospital between Marc...,NaN,N,N
2,2,2020-05-31,Clinical Features and Short-term Outcomes of E...,https://www.sciencedirect.com/science/article/...,Int J Infect Dis,NaN,NaN,NaN,NaN,NaN,...,Not Significant,Not Adjusted,Extracted,NaN,Retrospective observational study,204,Renmin Hospital of Wuhan University from ...,NaN,N,N
3,3,2020-05-29,Phenotypic characteristics and prognosis of in...,https://www.ncbi.nlm.nih.gov/pubmed/32472191/,Diabetologia,OR: 1.08,0.77,1.50,NaN,Not Significant,...,Not Significant,Not Adjusted,Extracted,NaN,Retrospective observational study,1317,The CORONADO study was launched in all French ...,NaN,Y,N
4,4,2020-05-26,Characteristics and predictors of hospitalizat...,http://medrxiv.org/cgi/content/short/2020.05.2...,MedRxiv,NaN,NaN,NaN,NaN,NaN,...,Significant,Adjusted,Extracted,Age; Sex,Retrospective observational study,9519,"Danish SARS-CoV-2 cohort from February 27th, 2...",NaN,Y,N

In [20]:
covid["Study Type"].unique()

array(['Retrospective observational study',
       'Systematic review and meta-analysis',
       'Prospective observational study', 'Expert review',
       'Cross-sectional study', 'Case series'], dtype=object)

In [24]:
covid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39 entries, 0 to 38
Data columns (total 26 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               39 non-null     int64
 1   Date                     39 non-null     object
 2   Study                    39 non-null     object
 3   Study Link               39 non-null     object
 4   Journal                  38 non-null     object
 5   Severe                   25 non-null     object
 6   Severe lower bound       25 non-null     float64
 7   Severe upper bound       25 non-null     float64
 8   Severe p-value           19 non-null     object
 9   Severe Significant       24 non-null     object
 10  Severe Adjusted          24 non-null     object
 11  Severe Calculated        24 non-null     object
 12  Fatality                 22 non-null     object
 13  Fatality lower bound     22 non-null     float64
 14  Fatality upper bound     22 non-null     float64
 15  Fatality p-value         11 non-null     object
 16  Fatality Significant     22 non-null     object
 17  Fatality Adjusted        22 non-null     object
 18  Fatality Calculated      22 non-null     object
 19  Multivariate adjustment  9 non-null      object
 20  Study Type               39 non-null     object
 21  Sample Size              39 non-null     object
 22  Study Population         39 non-null     object
 23  Added on                 5 non-null      object
 24  Critical only            39 non-null     object
 25  Discharged vs. death?    39 non-null     object
dtypes: float64(4), int64(1), object(21)
memory usage: 8.0+ KB

In [27]:
df1 = covid[["Severe Significant","Fatality","Study Type","Discharged vs. death?"]]
df1.head(10)

,Severe Significant,Fatality,Study Type,Discharged vs. death?
0,Significant,NaN,Retrospective observational study,N
1,NaN,OR 1.14,Retrospective observational study,N
2,NaN,HR=1.2,Retrospective observational study,N
3,Not Significant,OR: 1.55,Retrospective observational study,N
4,NaN,AOR=1.3,Retrospective observational study,N
5,Not Significant,OR=4.5,Retrospective observational study,N
6,NaN,OR=2.16,Systematic review and meta-analysis,N
7,NaN,AOR 1.0,Retrospective observational study,Y
8,NaN,AOR 2.5,Retrospective observational study,Y
9,Not Significant,AHR=1.29,Retrospective observational study,N

In [28]:
df1.iloc[2:6]

,Severe Significant,Fatality,Study Type,Discharged vs. death?
2,NaN,HR=1.2,Retrospective observational study,N
3,Not Significant,OR: 1.55,Retrospective observational study,N
4,NaN,AOR=1.3,Retrospective observational study,N
5,Not Significant,OR=4.5,Retrospective observational study,N

In [29]:
df1.loc[df1["Severe Significant"] == "Not Significant"]

,Severe Significant,Fatality,Study Type,Discharged vs. death?
3,Not Significant,OR: 1.55,Retrospective observational study,N
5,Not Significant,OR=4.5,Retrospective observational study,N
9,Not Significant,AHR=1.29,Retrospective observational study,N
11,Not Significant,NaN,Systematic review and meta-analysis,N
12,Not Significant,NaN,Retrospective observational study,N
21,Not Significant,NaN,Retrospective observational study,N
23,Not Significant,NaN,Retrospective observational study,N
24,Not Significant,NaN,Systematic review and meta-analysis,N
28,Not Significant,OR 1.0,Retrospective observational study,N
31,Not Significant,NaN,Retrospective observational study,N
32,Not Significant,NaN,Cross-sectional study,N
34,Not Significant,NaN,Systematic review and meta-analysis,N
38,Not Significant,NaN,Case series,N